doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', data-main='/javascript/main.js', src='/javascript/lib/require-jquery.js')
  body
    block content